/* Services.css */
.service {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    text-align: center;
}
span{
    color: #333;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color:  #333;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.service h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.service p {
    font-size: 16px;
    color: #555;
    font-family: 'Arial', sans-serif;
}

/* Services.css */

.services-page {
    background-image: url('../images/umra-bg.jpeg');
    /* Adjust the path and image filename */
    background-size: cover;
    /* Scale the background image to cover the container */
    background-repeat: no-repeat;
    /* Prevent repeating the background image */
    background-position: center center;
    text-align: center;
    padding: 50px;
}

.services-title {
    font-size: 24px;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
}

.services-description {
    font-size: 16px;
    color: #666;
    font-family: 'Arial', sans-serif;
}

.umra-table {
    border-collapse: collapse;
    width: 80%;
    /* Set a smaller width value */
    margin: 0 auto;
}

.umra-table th,
.umra-table td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.umra-table th {
    background-color: rgb(76, 76, 76);
    color: #fff;
}

.umra-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.umra-table tr:nth-child(odd) {
    background-color: #ffffff;
}

.umra-meal-info {
    font-weight: bold;
    color: #555;
    margin: 8px;
    padding: 10px;
    display: inline-block;
    background-color: rgb(61, 66, 207);
    color: #fff;
}

.umra-sentence {
    font-weight: bold;
    color: #555;
    padding: 10px;
    display: inline-block;
}

.mekke-sentence {
    background-color: rgb(87, 87, 89);
    color: #fff;
    padding: 10px;
    margin-right: 10px;
}

.medine-sentence {
    background-color: rgb(185, 41, 41);
    color: #fff;
    padding: 10px;
    margin-left: 10px;
}

.sentence-container {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

.sentence-container p {
    margin: 8px;
    /* Remove the default margin of paragraphs */
}

/* ... Existing styles ... */

@media (max-width: 768px) {
.services-page{
    background-image: url('../images/umra-bg.jpeg');
    /* Adjust the path and image filename */
    background-size: cover;
    /* Scale the background image to cover the container */
    background-repeat: no-repeat;
    /* Prevent repeating the background image */
    background-position: center center;

}
.div{
    display:none
}
    .umra-table th,
    .umra-table td {
        padding: 6px;
    }

    .umra-table th {
        font-size: 14px;
    }

    .umra-table td {
        font-size: 12px;
    }
}