/* Home.css */

/* ... (other styles) */

.promo-text {
    text-align: center;
    margin: 40px 0;
    background-color: rgb(61, 66, 207);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}
  
  .promo-text h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff; /* Blue color for heading */
  }
  
.promo-text {
  text-align: center;
  margin: 40px 0;
  background-color: rgb(61, 66, 207);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo-text h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff; /* Blue color for heading */
}

.promo-text p {
  font-size: 18px;
  line-height: 1.5;
  color: #fff; /* Dark gray color for paragraph */
  margin: 10px 0;
}
.video-container{
  margin: 25px;
}
.gallery-grid {
  margin-bottom: 150px;
}
/* Update the layout for smaller screens */
@media screen and (max-width: 900px) {
  .promo-text {
    flex-direction: column; /* Display items vertically */
    align-items: center; /* Center items horizontally */
  }
}
