/* Navbar.css */

.navbar {
  background-color: rgb(61, 66, 207);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}


.navbar-container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem; 
}
.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.navbar-logo img {
  max-width: 90px; /* Adjust the maximum width as needed */
  height: auto; /* Let the height adjust proportionally */
  margin-right: 10px;
}


.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item {
  margin: 0 20px;
}

.nav-links {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.nav-links:hover {
  color: #ffd700;
}

@media screen and (max-width: 900px) {
  .menu-icon {
    display: block;
  }

  .nav-menu {

    display: flex;
    flex-direction: column;
    position: absolute;
    top: 95px;
    padding: 10px;
    margin-right: 176px;
    background-color:  #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    width: 41%; /* Adjust the width to your preference */
    border-radius: 10px; /* Adjust the border radius to make it look better */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
    align-items: flex-start;
    justify-content: center;
  }
  .nav-links {
    font-size: 1rem; 
    font-family: 'Arial', sans-serif;
    font-weight:600;
    margin: 0.5rem;
    text-decoration: none;
    color: #333;
  }

  .nav-links:hover {
    color: #555; /* Change the link color on hover */
  }
  .nav-menu.active {
    opacity: 1;
    pointer-events: auto;
  }
  .navbar-container span {
    color: #fff;
    cursor: pointer;
    display: block;
  }
}