/* ContactUs.css */
.div{
  height: 10vh;
}
.contact-us-page {
    text-align: center;
    padding: 50px;
  }
  
  .contact-us-title {
    font-size: 24px;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
  }
  
  .contact-us-description {
    font-size: 16px;
    color: #666;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
  }
  
  .contact-details {
    font-size: 16px;
    color: #555;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
  }
  /* Responsive Styles */
@media screen and (max-width: 768px) {
  .contact-us-page {
    padding: 10% 5%;
  }
  
  .contact-us-title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .contact-us-description {
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  .contact-details {
    font-size: 14px;
    margin-top: 15px;
  }
}
