/* Footer.css */

.footer {
    background-color: rgb(61, 66, 207);
    color: #fff;
    padding: 15px 0;
    height: 150px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    margin: 0 20px;
  }
  
  .footer-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    font-size: 14px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-bottom {
    background-color: rgb(61, 66, 207);
    text-align: center;
    padding-bottom: 5px;
    border-top: 1px solid #555;
  }
  
  .footer-bottom p {
    font-size: 12px;
  }
.footer-logo {
    max-width: 150px; /* Adjust the logo size as needed */
    margin-bottom: 20px;
  }
  /* Footer.css */

.footer-logo {
    max-width: 150px; /* Adjust the logo size as needed */
    margin-bottom: 20px;
  }
  
  .footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  